/********** Base styles **********/

.title {
  position: relative;
  font-size: 1.4em;
  text-align: center;
  /*border: solid 1px black;*/
}

.item {
  position: relative;
  background-color: #AAAAAA;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
}




